<div class="menu-layout">
  
  <div class="menu-container">
    <h2>🍽️ Menú del Día</h2>

    <div *ngIf="loading" class="loading">Cargando platos...</div>

    <div class="grid-menu" *ngIf="!loading">
      <div class="card-plato" *ngFor="let plato of menu">
        <div class="foto-plato">
          <img 
  [src]="'assets/' + plato.imagen" 
  (error)="manejarErrorImagen($event)" 
  alt="Comida">
        </div>
        
        <div class="info-plato">
          <h3>{{ plato.nombre }}</h3>
          <p class="precio">${{ plato.precio }}</p>
          <p class="stock-info" [class.sin-stock]="plato.stock === 0">
            {{ plato.stock > 0 ? 'Quedan: ' + plato.stock : 'AGOTADO' }}
          </p>
          
          <button 
            class="btn-agregar" 
            [disabled]="plato.stock === 0"
            (click)="agregarAlCarrito(plato)">
            {{ plato.stock > 0 ? 'Agregar 🛒' : 'Sin Stock' }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="carrito-panel" *ngIf="carrito.length > 0">
    <h3>🛒 Tu Pedido</h3>
    
    <div class="lista-items">
      <div class="item-carrito" *ngFor="let item of carrito; let i = index">
        <div class="desc">
          <b>{{ item.nombre }}</b> <br>
          <small>x{{ item.cantidad }} (${{ item.precio * item.cantidad }})</small>
        </div>
        <button class="btn-borrar" (click)="eliminarDelCarrito(i)">❌</button>
      </div>
    </div>

    <div class="resumen-total">
      <p>Total: <span>${{ total }}</span></p>
      <button class="btn-confirmar" (click)="confirmarPedido()">✅ CONFIRMAR</button>
    </div>
  </div>

</div>