.gestion-container { padding: 20px; max-width: 900px; margin: 0 auto; }
.card-form { background: #f8f9fa; padding: 20px; border-radius: 8px; margin-bottom: 20px; }
.form-grid { display: grid; grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); gap: 10px; }
input, select, button { padding: 10px; }
button { cursor: pointer; background: #27ae60; color: white; border: none; border-radius: 4px;}
.tabla-platos { width: 100%; border-collapse: collapse; }
td, th { padding: 10px; border-bottom: 1px solid #ddd; text-align: left; }
.btn-borrar { background: #e74c3c; }