.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c3e50; /* Color oscuro profesional */
  color: white;
  padding: 0 20px;
  height: 60px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.brand .logo-text {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: #ffffff; /* Dorado para el logo */
}

.nav-links {
  display: flex;
  gap: 20px;
  height: 100%;
}

.nav-links a {
  color: #bdc3c7;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-weight: 500;
  transition: all 0.3s;
  border-bottom: 3px solid transparent;
}

.nav-links a:hover {
  color: white;
  background-color: rgba(255,255,255,0.1);
}

/* Clase automática de Angular cuando estás en esa ruta */
.nav-links a.active {
  color: white;
  border-bottom: 3px solid #3498db; /* Azulito abajo */
}


.user-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  line-height: 1.2;
}

.user-name {
  font-size: 0.9rem;
  font-weight: bold;
}

.role-badge {
  font-size: 0.7rem;
  background-color: #7f8c8d;
  padding: 2px 6px;
  border-radius: 4px;
}

.role-badge.admin {
  background-color: #e67e22; /* Naranja para Admin */
}

.btn-logout {
  background: none;
  border: 1px solid #e74c3c;
  color: #e74c3c;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-logout:hover {
  background-color: #e74c3c;
  color: white;
}