<div class="admin-container">
  <h2>Panel de Cocina</h2>

  <table class="tabla-admin">
    <thead>
      <tr>
        <th>ID</th>
        <th>Empleado</th>
        <th>Fecha</th>
        <th>Total</th>
        <th>Estado Actual</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of pedidos">
        <td>#{{ p.id }}</td>
        <td>{{ p.nombre }} {{ p.apellido }}</td>
        <td>{{ p.fecha | date:'short' }}</td>
        <td>${{ p.total }}</td>
        
        <td>
          <span class="etiqueta" [ngClass]="'estado-' + p.id_estado">
            {{ p.nombre_estado || 'PENDIENTE' }}
          </span>
        </td>

        <td>
          <select 
            [(ngModel)]="p.id_estado" 
            (change)="cambiarEstado(p, $any($event.target).value)"
            class="selector-admin">
            <option *ngFor="let est of estados" [value]="est.id">
              {{ est.nombre }}
            </option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
</div>